html,
body {
    font-family: "Poppins";
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.header {
    height: 112px;
    margin-bottom: 10px;
}

.header-logo {
    float: left;
    font-size: 24px;
    padding: 35px 0px;
}

.header-logo span {
    color: #29a867;
}

.header-list {
    margin-top: 33px;
    text-align: right;
}

.jumbotron-msg {
    margin-left: 40px;
    text-align: start;
    font-size: 36px;
    font-family: "Montserrat";
    position: absolute;
    top: 220px;
    width: 20%;
    color: white;
    line-height: 38px;
}

.jumbotron-msg-2 {
    margin-left: 40px;
    text-align: start;
    font-size: 18px;
    font-family: "Montserrat";
    position: absolute;
    top: 305px;
    width: 15%;
    color: white;
}

input {
    width: 246px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #f3f3f3;
    border: 0px;
    margin-bottom: 16px;
}

.login p {
    margin-bottom: 6px;
}

.btn {
    border: 0px;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.batas {
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 1px solid #e4e4e4;
    height: 88px;
    color: #979797;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    width: 250px;
    height: 826px;
    position: fixed;
    background-color: #fefefe;
}

.logoadmin {
    margin-left: 85px;
    margin-top: 34px;
    padding-top: 30px;
    padding-bottom: 30px;
}
