html,
body {
    font-family: "Poppins";
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
}

.header-logo {
    float: left;
    font-size: 26px;
    margin: 35px 0px;
}

.header-logo span {
    color: #29a867;
}

.header-list {
    margin-top: 33px;
    text-align: right;
}

.jumbotron-msg {
    margin-left: 40px;
    text-align: start;
    font-size: 52px;
    font-family: "Montserrat";
    position: absolute;
    top: 250px;
    width: 440px;
    color: white;
    line-height: 48px;
}

.jumbotron-msg-2 {
    margin-left: 42px;
    text-align: start;
    font-size: 28px;
    font-family: "Montserrat";
    position: absolute;
    top: 355px;
    width: 380px;
    color: white;
    line-height: 33px;
}

input {
    width: 372px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #f3f3f3;
    border: 0px;
    margin-bottom: 16px;
}

.login p {
    margin-bottom: 6px;
    font-size: 24px;
}

.btn {
    border: 0px;
    opacity: 0.8;
}

.nav-btn {
    margin-left: 10px;
}

.btn:hover {
    opacity: 1;
}

.batas {
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 1px solid #e4e4e4;
    height: 88px;
    color: #979797;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logoadmin {
    padding-left: 85px;
    padding-top: 34px;
    padding-right: 85px;
}

.nav-link {
    font-size: 16px;
    color: #0c0d36;
}

.nav-select {
    background-image: linear-gradient(to right, #ffffff, #ff7158);
}

.nav-notselect {
    font-size: 16px;
    color: #c5c5c5;
    margin-top: 24px;
}

.dashboard {
    margin-left: 290px;
    display: flex;
}

.card-dashboard {
    background-color: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 8px;
}

.card-recent {
    width: 800px;
    height: 70px;
    background-color: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 8px;
}

.button-addnew {
    width: fit-content;
    background-color: #29a867;
    border-radius: 6px;
}

.card-product {
    width: fit-content;
    height: max-content;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px 0px #f1f1f8;
    margin-top: 34px;
    display: list-item;
    list-style-type: none;
}

.menu-card {
    border-radius: 8px;
    float: left;
}

.menu-card p {
    font-size: 18px;
}

.btn-sign-in {
    margin-top: 42px;
    margin-bottom: 12px;
    width: 372px;
    height: 47px;
}

.details-image {
    border-radius: 8px;
    float: left;
}

.card-add{
    width: 80%;
    height: fit-content;
    background-color: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 8px;
}
