html,
body {
    font-family: "Poppins";
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.header {
    height: 112px;
    margin-bottom: 10px;
}

.header-logo {
    float: left;
    font-size: 24px;
    padding: 35px 40px;
}

.header-logo span {
    color: #29a867;
}

.header-list {
    margin-top: 33px;
    text-align: right;
}

input {
    width: 246px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #f3f3f3;
    border: 0px;
    margin-bottom: 16px;
}

.login p {
    margin-bottom: 6px;
}

.btn {
    border: 0px;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.batas {
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 1px solid #e4e4e4;
    height: 88px;
    color: #979797;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}
